<main>
  <h1>Our current fosters</h1>
  {{#if hasFosters}}
    <div class='grid'>
      {{#each fosters}}
        <article class='card'>
          <header class='card__header'>
            <h2 class='name'>{{this.name}}</h2>
          </header>
          <div class='card__image-container'>
            {{#if imageUrl}}
              <img src={{this.imageUrl}} alt='photo of foster greyhound {{this.name}}' />
            {{else}}
              <img src='/images/default-image.jpg' alt='Default Image' />
            {{/if}}
          </div>
          <div class='card__content'>
            <p class='description'>{{this.bio}}</p>
            <ul class='characteristics-list'>
              <li class='caracteristics-list-item'>{{this.isCatsafe}}</li>
              <li class='caracteristics-list-item'>placeholder for small dog</li>
              <li class='caracteristics-list-item'>placeholder for only dog</li>
            </ul>
          </div>
        </article>
      {{/each}}
    </div>
  {{else}}
    <p>At this time, we do not have any fosters available for adoption</p>
    <p>Please check back soon.</p>
  {{/if}}
</main>